.navbar-brand{
margin-bottom: 10px;
}
.tu{
   margin-left: 500px;
}
.hh p{
	float: left;
	/*padding-top: 100px;*/
}
. span{
	float: right;
}
.tu2 dl{
	background: url(../img/images/B3_lg_08.gif) no-repeat  center;
}
